
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=DM+Serif+Display:ital@0;1&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: rgba(243, 192, 200, 0.971);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

#heartlogo svg{
    height: 70px;
    width: 70px;
    animation: motion;
    animation-timing-function: ease;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes motion {
    from{
        scale: 1;
    }

    to{
        scale:1.3;
    }  
}

.text{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.first{
    font-size: 30px;
    margin-bottom: 10px;
}

.second{
    margin-bottom: 5px;
    font-size: 20px;
}

.third{
    font-size: 15px;
}

